@charset "utf-8";
*{
	padding:0;
	margin:0;
}
html{
	background:
	radial-gradient(black 15%, transparent 16%) 0 0,
	radial-gradient(black 15%, transparent 16%) 8px 8px,
	radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
	radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
	background-color:rgba(28,28,28,1);
	background-size:16px 16px;	
}
body{
	width:100%;
	max-width:1024px;
	background:rgba(255,255,255,1);
	margin:0 auto;
}
header{
	width:100%;
	max-width:1024px;
	height:80px;
	background:rgba(0,102,102,1);
	position:relative;
}
header div#logo {
    width: 120px;
    height: 80px;
    margin: 0px auto;
}
header div#logo img{
	width:120px;
	height:80px;
}
div#pagina{
	width:calc(100% - 30px);
	max-width: 1015px;
	height:600px;
	padding:20px 15px;
	display:table;
}
div#pagina section{
	width: 660px;
	background:rgba(240,240,240,1);
    display: table-cell;
    padding-right: 15px;
    text-align: justify;
	height:100%;
}
div#pagina aside{
	width: 295px;
	background:rgba(235,235,235,1);
    display: table-cell;
    padding-left: 15px;
    text-align: justify;
	height:100%;
}
footer{
	width:100%;
	max-width:1024px;
	height:80px;
	background:rgba(0,102,102,1);
}