<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="strRutaOrigen" value="D:\ServicioWindow\Origen\"/>
    <add key="strRutaDestino" value="D:\ServicioWindow\Destino\"/>
    <add key="timeStartService" value="10:52 AM"/>
  </appSettings>
</configuration>